 @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Raleway:wght@400;600&display=swap');

body {
  font-family: 'Raleway', sans-serif;
}
.site-header {
  background: white;
  padding: 24px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 1px 4px rgba(0,0,0,0.05);
}

.hero-section {
  position: relative;
  min-height: 100vh;
  padding: 80px 24px;
  max-width: 1200px;
  margin: auto;

  background-image: url("../images/main_room_green.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: grid;
  gap: 40px;
}

h1, h2, h3 {
  font-family: 'Playfair Display', serif;
}
 html {
    scroll-behavior: smooth;
  }

.reveal{
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.8s ease;
}

.reveal.active{
  opacity: 1;
  transform: translateY(0);
}

